@font-face {
font-family: 'Bebas Neue';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue'), url('BebasNeue.woff') format('woff');
}

/*body structure*/
body {max-width: 900px;}


/*Navigation*/
nav {display: inline-block; background-color: white; border-right: 1px solid lightgray; max-width: 250px;  padding: 15px 0; width: 28%; float: left; position: absolute; height: 100%;}
nav li {border-bottom: 2px dotted #e7b4aa; height: auto; list-style: none; padding: 12px 0; text-align: left; font-family: 'Bebas Neue'; font-size: 28px;}
nav li a {text-decoration: none; color: black; padding-right: 30px;width: 200px;}
nav li a:hover {color: #e7b4aa;}
ul {padding: 25px 40px 30px 15px;}
.logo img {height: auto; width: 220px;}
.social-icons  {display: block; margin: 0 auto;}

/*Main*/
main {display: inline-block; width: 70%; float: right;}
